@import 'colors.scss';

.main_container {
  display: flex;
  height: 100vh;
  width: 100%;
  main {
    background-color: $tertiary-bg;
    display: flex;
    flex-direction: column;
    width: 75%;
    .cards_container {
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      h2 {
        width: 90%;
        margin: 0 auto;
        padding: 40px 0;
        text-align: center;
      }

    }
    .temporary_container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70%;
    }
  }
}

.form_container {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(158deg, $primary-bg 30%, $secondary-bg 100%);
  label {
    width: 40%;
  }
  input {
    width: 100%;
    border: none;
    border-radius: 20px;
    height: 30px;
    padding: 5px;
    color: white;
    text-align: center;
    background-color: #f8f8f85b;
    outline: none;
  }
  input::placeholder {
    color: white
  }
  button {
    height: 40px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: $secondary-bg;
    color: white;
    cursor: pointer;
    width: 120px;
    font-weight: 600;
  }

  button:disabled {
    opacity: 0.5;
  }
}

.cards {
  display: flex;
  padding: 0;
  gap: 20px;
  padding: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 550px;
  overflow-x: auto;
  overflow-y: auto;
  li {
    list-style: none;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    a {
      color: black;
      width: 100%;
      height: 100%;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 80%;
      }
      h3 {
        padding: 3px;
      }
    }
  }
}